<section class="hero{{ modifier ? ' ' ~ modifier }}{{- attributes ? attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  {% if image %}
    <div class="hero__media">
      {{ image }}
    </div>
  {% endif %}

  <div class="hero__content">
    {% if heading %}
      {%
        include '@training_theme/heading/heading.twig' with {
        "heading": {
          "title": "A new title here",
          "modifier": 'some-css-class',
          "url": "http://example.com",
          "heading_level": "3"
        }
      } only
      %}
    {% endif %}

    {% if cta %}
      {%
        include '@training_theme/button/button.twig' with {
        "button": cta
      } only
      %}
    {% endif %}
  </div>
</section>
